#map {
	text-align: center;
	font-family: 'Inconsolata';
	font-size: 10pt;
	line-height: 10px;
	letter-spacing: 3.33px;
	margin-left: 320px;
	margin-top: 40px;
	width: 800px;
	height: 450px;
	border: 1px solid #000000;
	overflow-y: visible;
	text-align: center;
}

#map h3 {
	position: relative;
	margin-top: -20px;
	margin-bottom: 10px;
}

#skyline {
	color: #333333;
	overflow: hidden;
	height: 450px;
	overflow-x: hidden;
	margin-top: 0px;
}

#skyline p {
	margin-left: 1px;
	margin-top: 0px;
	white-space: pre;
}