body {
	background-color: #424242;
}

#options_menu span {
	color: #BFBFBF;
}

#options_menu span a {
	color: #BFBFBF;
}

#menu {
	color: #CCCCCC;
}

.button {
	border: 1px solid #CCCCCC;
}

#title {
	color: #EFEFEF;
}

#notifications p {
	color: #BFBFBF;
}

#tabs h2 {
	color: #CCCCCC;
}

#skyline {
	color: #BFBFBF;
}

#map {
	border: 1px solid #ffffff;
}

#map h3 {
	color: #CCCCCC;
}